<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Thanks</title>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="icon" href="images/favicon.png" />

</head>

<body>
  <form action="/survey" method="post">

    <div class="wrapper">
        <div class="title-welcome">Welcome</div>
        <div class="subtitle">Welcome to our example survey</div>
        <div class="questions">What is your name?
            <input class="user-name" name="userName" value={{userName}}></input>
        </div>
        <div class="questions">How do you feel about chocolate?
            <input type="radio" id="like-chocolate" name="chocolate" value="like" checked>
            <label class="radio-buttons" for="like-chocolate">I like it!</label>
            <input type="radio" id="dislike-chocolate" name="chocolate" value="dislike">
            <label class="radio-buttons" for="dislike-chocolate">Not a fan</label>
            <input type="radio" id="meh-chocolate" name="chocolate" value="feel meh about">
            <label class="radio-buttons" for="meh-chocolate">Meh</label>
            <br>
        </div>
        <div class="questions">What is your favorite fruit? (choose up to 3)
            {{#each fruitChoices}}
                <input type="checkbox" id={{this}} name=fruitChosen value={{this}}>
                <label for={{this}}>{{this}}</label>
            {{/each}}
            <br>
        </div>
        <div>
            {{#each errors}}
                <p class="error">{{this}}</p>
            {{/each}}
        </div>
        <div>
            <input class="submit-button" type="submit" value="Submit">
        </div>
    </div>

  </form>

</body>
</html>
